/*tüm etiketleri kapsamak için kullanılır
*{
    border: 1px solid blue;
}
p{border: 1px solid red;}
div p{
    border: 1px solid blue;
}
.container div{
    border: 1px solid orange;
}
.container div.box{
    border: 1px solid yellow;
}
div,p{
    border: 1px solid blue;
}
div.box,p{
    border: 1px solid red;
}
div>p{
    border: 1px solid blue;
}
p~div{
    border: 1px solid blue;
}

*/
p+div{
    border: 1px solid blue;
}
