*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card-image{
    width: 100%;
    max-height: 250px;
    border-top-left-radius: 5px;
    transition: opacity 200ms ease;
}
.card{
    width: 40%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    border-radius: 5px;
    transition: box-shadow 0.3s;
    
    
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgb(0,0,0,0.2);
}
.card-body{
    padding: 10px 16px;
}
.card-title{
    margin-bottom: 15px;
    font-size: 22px;
}
.card-image:hover{
    opacity: 0.8;
}