.card{
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 2px;
    margin: 20px;
    display: inline-block;
    
}
body{
    background: #f2f2f2;
}
.card1{
    box-shadow: 10px 10px;
}
.card2{
    box-shadow: 10px 10px 20px;
}
.card3{
    box-shadow: 10px 10px 20px 10px;
}
.card4{
    box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.4);
}
.card5{
    
}
.card5:hover{
    box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.4);
}
.card6{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16)
}
.card7{
    border:1px solid red;
    box-shadow: 10px 10px 15px #aaaaaa;
}