        a {
            color: chartreuse;
            text-decoration: none;
        }

        li {
            display: inline;
            color: yellowgreen;
        }
h1{
    background-color: cornflowerblue;
}
